[submodule "lib/fcitx5/src/main/cpp/fcitx5"]
	path = lib/fcitx5/src/main/cpp/fcitx5
	url = https://github.com/fcitx/fcitx5.git
[submodule "lib/fcitx5/src/main/cpp/prebuilt"]
	path = lib/fcitx5/src/main/cpp/prebuilt
	url = https://github.com/fcitx5-android/prebuilt.git
	shallow = true
[submodule "plugin/rime/src/main/cpp/fcitx5-rime"]
	path = plugin/rime/src/main/cpp/fcitx5-rime
	url = https://github.com/fcitx/fcitx5-rime.git
[submodule "plugin/rime/src/main/cpp/rime-prelude"]
	path = plugin/rime/src/main/cpp/rime-prelude
	url = https://github.com/rime/rime-prelude.git
[submodule "plugin/rime/src/main/cpp/rime-essay"]
	path = plugin/rime/src/main/cpp/rime-essay
	url = https://github.com/rime/rime-essay.git
[submodule "plugin/rime/src/main/cpp/rime-luna-pinyin"]
	path = plugin/rime/src/main/cpp/rime-luna-pinyin
	url = https://github.com/rime/rime-luna-pinyin.git
[submodule "plugin/rime/src/main/cpp/rime-stroke"]
	path = plugin/rime/src/main/cpp/rime-stroke
	url = https://github.com/rime/rime-stroke.git
